mixin abstractStory(story, author)
    div 
        a(href="/story/"+story._id)
            h3= story.title 
        p= story.desc 
        p= story.averageRating + " - " + story.ratingCount
        br
        if author 
            a(href="/user/about/"+story.author._id)= "-" + story.author.name