extends ../layout
include ../nav.pug
include abstractStory.pug 
block content 
    - const elements = [{name: "home", href: "/"}]
    +navBar(elements)
    if retrieved
        for i in stories 
            +abstractStory(i)
    else 
        p #{message}
