extends ../layout
include ../nav.pug
include abstractStory.pug 
block content 
    - const elements = [{name: "Home", href: "/"}, {name: "Stories", href: "/story"}]
    +navBar(elements)
    .all-stories
        h1(style="text-align:center;") All Stories
        if retrieved
            for i in stories 
                +abstractStory(i, true)
                br
        else 
            p(style="text-align:center;") #{message}
            br
block links
    link(rel="stylesheet", href="/css/story-review.css")