mixin review(comment, author)
    div.review
        if author 
            a(href="/user/"+comment.author._id+"/about")
                h3.review-auth= comment.author.name
        h4.review-rating= comment.rating
        p.review-desc= comment.desc 