extends layout
include nav.pug
block content 
    - const elements = [{name: "Home", href: "/", current: true}, {name: "Stories", href: "/story"}].concat( (auth) ? [{name: "About Me", href: "/user/aboutme"}, {name: "My Reviews", href: "/user/reviews"}, {name: "Edit Profile", href: "/user/edit"}, {name: "Signout", href: "/user/signout"}] : [{name: "Login", href: "/user/login"}, {name: "Signup", href: "/user/signup"}] )
    +navBar(elements)
    .story
        a.story-a(href='/story') 
            div.storyele
                h3 View Stories 
        a.story-a(href='/story/create')
            div.storyele
                h3 Post Story
block links
    link(rel="stylesheet", href="/css/index.css")