extends layout
include nav.pug
block content 
    - const elements = [{name: "login", href: "/user/login"}, {name: "signup", href: "/user/signup"}, {name: "signout", href: "/user/signout"}]
    +navBar(elements)
    .story
        a.storyele(href='/story') 
            h3 View stories 
        a.storyele(href='/story/create')
            h3 Post Story
block links
    link(rel="stylesheet", href="/css/index.css")