extends layout
include nav.pug
block content 
    - const elements = [{name: "login", href: "/user/login"}, {name: "signup", href: "/user/signup"}, {name: "signout", href: "/user/signout"}]
    +navBar(elements)
    .form
        a.formele(href='/form') 
            h3 View Forms 
        a.formele(href='/form/create')
            h3 Create Form
block links
    link(rel="stylesheet", href="/css/index.css")