doctype html
html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(property='og:type' content='website')
        meta(property='og:title' content='Story Website')
        meta(property='og:description' content='Discover the joy of storytelling on our demo Story Website. Share your tales, explore captivating stories, and connect with fellow authors. With personalized profiles, easy posting, and a vibrant community, start your creative journey today!')
        meta(property='og:image' content='/images/logoBlack.png')
        link(rel="stylesheet", href="/css/layout.css")
        block links  
        title Story 
    body 
        block content
        script(src='/js/menu.js')