extends ../layout
include ../nav.pug
include ../story/abstractStory.pug
block content 
    - const elements = [{name: "Home", href: "/"}, {name: "Stories", href: "/story"}]
    +navBar(elements)
    if !retrieved
        .user-about 
            br
            p  #{message}
            br 
    else 
        .user-about 
            h2(style="text-align:center;")= aboutUser.name 
            br
            p= aboutUser.about 
            br
        .user-about
            h3(style="text-align:center;") Stories 
            for i in aboutUser.stories 
                +abstractStory(i, false)
            else
                p No Stories 
                br
block links
    link(rel="stylesheet", href="/css/user.css")
    link(rel="stylesheet", href="/css/story-review.css")