extends ../layout.pug 
include ../nav.pug
block content 
    - const elements = [{name: "Home", href: "/"}, {name: "Stories", href: "/story"}, {name: "Login", href: "/user/login"}, {name: "Signup", href: "/user/signup"}] 
    +navBar(elements)
    div.user-form 
        h3(style="text-align:center;") Login
        form(action="/user/login", method="POST") 
            input(name="email", type="email", placeholder="Email", required="true", autofocus="true")
            br
            input(name="password", type="password", placeholder="Password", required="true")
            br
            button(type="submit") Login
        if attempted 
            p(style="color:red;font-weight: bold;") #{message}
block links
    link(rel="stylesheet", href="/css/user.css")