.story{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}

.story-a{
    min-height: 500px;
    width: clamp(325px, 45%, 100%);
}

.storyele{
    width: 100%;
    min-height: 500px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.864);
    transition: all .2s;
    position: relative;
    font-size: large;
    border-radius: 20px;
    margin: 10px 0;
}

.storyele:hover{
    color: aqua;
    transform: scale(1.05);
}

.storyele h3{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
