.story{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: space-around;
    margin: 100px 0;
}

.storyele{
    width: 45%;
    height: 90%;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: burlywood;
    position: relative;
    font-size: large;

}

.storyele:hover{
    color: aqua;
}

.storyele h3{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
