body { 
    margin: 0;
    padding: 0;
    /* background-color: rgba(93, 255, 255, 0.579); */
    background-image: linear-gradient(135deg, rgba(158, 93, 255, 0.6) 0 22.5%, rgba(93, 255, 255, 0.8) 45% 62% , rgba(93, 96, 255, 0.70) 80% 90%);
    background-repeat: no-repeat;
    min-height: 100vh;
    max-height: max-content;
    background-position: center;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    
}

.nav-wrapper{
    position : sticky;
    top : 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.891);
    margin: 0 0 10px 0;
    padding: 5px 10px;
    min-height: 75px;
    color: white;
}

.branding{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: inherit;
    font-size: 110%;
}

.branding img , .branding h3 , .branding p {
    margin : 0 10px;
}

.navLinks{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
    height: inherit;
    margin: 0 0 10px 0;
    padding: 5px 10px;
}

.navLinks > a{
    padding: 10px 20px;
    margin: 10px 5px;
    color: white;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    transition: all .5s;
}

a.underlined{
    text-decoration: underline;
}

.navLinks  >a:hover{
    color: aqua;
    outline: thin solid aqua;
}

.navLinks > button {
    display: none;
    background-color: inherit;
    border: 2px solid rgba(255, 255, 255, 0.709);
    border-radius: 5px;
}

#mobileMenu{
    position: absolute;
    padding: 10px 7%;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start; 
    color: white;
    background-color: rgba(0, 0, 0, 0.914);
    width: 86%;
    height: max-content;
    z-index: 1000;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.615), 3px 0 5px 0 rgba(0, 0, 0, 0.615), -3px 0 5px  0 rgba(0, 0, 0, 0.615);
}

#mobileMenu > a{
    padding: 2%;
    width: 100%;
}

#mobileMenu > a:hover{
    outline: 1px solid white;
}

.display-flex{
    display: flex;
}

.display-none{
    display: none;
}

@media only screen and (max-width: 900px) {
    .navLinks{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;    
    }

    .navLinks > a{
        display: none;
    }
    
    .navLinks > button {
        margin: 0 10px;
        display: inline-block;
    }
    
}

@media only screen and (min-width: 901px) {
    #mobileMenu{
        display: none;
    }
}