extends ../layout
include ../nav.pug
include abstractForm.pug 
block content 
    - const elements = [{name: "home", href: "/"}]
    +navBar(elements)
    if retrieved
        for i in forms 
            +abstractForm(i)
    else 
        p #{message}
