extends ../layout.pug 
block content 
    div 
        form(action="/form/create", method="POST") 
            input(name="title", type="text", placeholder="Title", required="true")
            br
            input(name="desc", type="text", placeholder="Description", required="true")
            br
            button(type="submit") create
        if attempted  
            p(style="color:red;font-weight: bold;") #{message}